*{
	margin: 0;
}


p {
	font-family: sans-serif;
}

#img src {
	     flush:; left;
	     padding: 10px; 
	     
}

/* Formatting for Navigation bar */

#Navigationbar {
    text-align: center;
    background-color: black;
    height: 40px;
}


	


#Navigationitems li {
	display: inline;

}

#Navigationitems a {
	display: inline-block;
	height: 40px;
	color: white;
	background-color: red;
	line-height: 40px;
	
	




	
}

/* End of Navigation bar formatting */