p {
	font-family: sans-serif;
}

#img src {
	     flush:; left;
	     padding: 10px; 
	     
}



/* Navigation bar styling */

#Navigationbar {
    text-align: center;
    background-color: black;
    opacity: 0.75;
}

.box {
  border-color: black;
}

#Navigationbar a {
	display: inline-block;
	color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  border-style: solid;
 
}

/* End navigation bar styling */



