p {
	font-family: sans-serif;
}

#img src {
	     flush:; left;
	     padding: 10px; 
	     
}


#Navigationbar {
    text-align: center;
    background-color: green;
}

#Navigationitems li {
	display: inline;
}

